In [1]:
import glob
import numpy as np
import pandas as pd
import re
import os
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [2]:
lvls_df = pd.read_excel('Lvls_1000_LevelDetails_v1.xlsx',index_col=0)
lvls_df.head()

   Level  moves  score  frogs  bugs
0      1     10      0      0     0
1      2     10      0      0     0
2      3     10      0      0     0
3      4     10      0      0     0
4      5     10      0      0     0

In [3]:
lvls_df.columns

Index(['Level', 'moves', 'score', 'frogs', 'bugs'], dtype='object')

In [4]:
gm_items_df = pd.read_excel('Lvls_1000_gameboard_items_v1.xlsx',index_col=0)
gm_items_df.head()

,Level,r_weights,b_weights,g_weights,y_weights,v_weights,o_weights,w_weights,c_weights,h_weights,p_weights,z_weights,t_weights
0,1,25,25,25,25,0,0,0,0,0,0,0,0
1,2,24,30,23,23,0,0,0,0,0,0,0,0
2,3,20,20,20,40,0,0,0,0,0,0,0,0
3,4,18,18,30,17,17,0,0,0,0,0,0,0
4,5,18,18,18,28,18,0,0,0,0,0,0,0

In [5]:
gm_items_df.columns

Index(['Level', 'r_weights', 'b_weights', 'g_weights', 'y_weights',
       'v_weights', 'o_weights', 'w_weights', 'c_weights', 'h_weights',
       'p_weights', 'z_weights', 't_weights'],
      dtype='object')

In [6]:
all_data_df = lvls_df.merge(gm_items_df, left_on='Level', right_on='Level')
all_data_df.head()

,Level,moves,score,frogs,bugs,r_weights,b_weights,g_weights,y_weights,v_weights,o_weights,w_weights,c_weights,h_weights,p_weights,z_weights,t_weights
0,1,10,0,0,0,25,25,25,25,0,0,0,0,0,0,0,0
1,2,10,0,0,0,24,30,23,23,0,0,0,0,0,0,0,0
2,3,10,0,0,0,20,20,20,40,0,0,0,0,0,0,0,0
3,4,10,0,0,0,18,18,30,17,17,0,0,0,0,0,0,0
4,5,10,0,0,0,18,18,18,28,18,0,0,0,0,0,0,0

In [7]:
winrate_df = pd.read_excel('Winrate_data.xlsx',index_col=0)
winrate_df.head()

,Level,Level Objectives,Difficulty Target,Target Band,p1_attempt,p1_winrate,p2_attempt,p2_winrate,p3_attempt,p3_winrate,Low Range,High Range
0.0,1,Score,CoreFTUE,100.0,4250.0,91.43,4126.0,89.89,4290,91.07,70,100
1.0,2,Score,CoreFTUE,100.0,4291.0,94.22,4019.0,93.72,4258,93.28,70,100
2.0,3,Score,CoreFTUE,100.0,3226.0,98.23,3169.0,98.29,3351,97.58,70,100
3.0,4,Score,CoreFTUE,100.0,3164.0,95.50,3091.0,95.48,3327,95.46,70,100
4.0,5,Collect,CoreFTUE,100.0,4008.0,97.25,3956.0,97.44,3759,96.53,70,100

In [8]:
winrate_df_n = winrate_df[['Level','p3_winrate']]
winrate_df_n.head()

     Level  p3_winrate
0.0      1       91.07
1.0      2       93.28
2.0      3       97.58
3.0      4       95.46
4.0      5       96.53

In [9]:
winrate_df_n.columns

Index(['Level', 'p3_winrate'], dtype='object')

In [10]:
# powerup_df = pd.read_excel('Lvls_1000_powerups_v1.xlsx',index_col=0)
# print(powerup_df.shape)
# powerup_df.head()

In [11]:
# all_data_df = all_data_df.merge(powerup_df, left_on='Level', right_on='Level')
# print(all_data_df.shape)
# all_data_df.head()

In [12]:
# gameboard_df = pd.read_excel('Lvls_1000_gameboard_v2.xlsx',index_col=0)
# # gameboard_df= gameboard_df.T
# gameboard_df.head()

In [13]:
# gameboard_df.columns

In [14]:
# all_data_df = all_data_df.merge(gameboard_df, left_on='Level', right_on='Level')
# print(all_data_df.shape)
# all_data_df.head()

In [15]:
all_data_df.head()

,Level,moves,score,frogs,bugs,r_weights,b_weights,g_weights,y_weights,v_weights,o_weights,w_weights,c_weights,h_weights,p_weights,z_weights,t_weights
0,1,10,0,0,0,25,25,25,25,0,0,0,0,0,0,0,0
1,2,10,0,0,0,24,30,23,23,0,0,0,0,0,0,0,0
2,3,10,0,0,0,20,20,20,40,0,0,0,0,0,0,0,0
3,4,10,0,0,0,18,18,30,17,17,0,0,0,0,0,0,0
4,5,10,0,0,0,18,18,18,28,18,0,0,0,0,0,0,0

In [16]:
all_data_df = all_data_df.merge(winrate_df_n, left_on='Level', right_on='Level')
print(all_data_df.shape)
all_data_df.head()

(1000, 18)

,Level,moves,score,frogs,bugs,r_weights,b_weights,g_weights,y_weights,v_weights,o_weights,w_weights,c_weights,h_weights,p_weights,z_weights,t_weights,p3_winrate
0,1,10,0,0,0,25,25,25,25,0,0,0,0,0,0,0,0,91.07
1,2,10,0,0,0,24,30,23,23,0,0,0,0,0,0,0,0,93.28
2,3,10,0,0,0,20,20,20,40,0,0,0,0,0,0,0,0,97.58
3,4,10,0,0,0,18,18,30,17,17,0,0,0,0,0,0,0,95.46
4,5,10,0,0,0,18,18,18,28,18,0,0,0,0,0,0,0,96.53

In [17]:
all_data_df.head()

,Level,moves,score,frogs,bugs,r_weights,b_weights,g_weights,y_weights,v_weights,o_weights,w_weights,c_weights,h_weights,p_weights,z_weights,t_weights,p3_winrate
0,1,10,0,0,0,25,25,25,25,0,0,0,0,0,0,0,0,91.07
1,2,10,0,0,0,24,30,23,23,0,0,0,0,0,0,0,0,93.28
2,3,10,0,0,0,20,20,20,40,0,0,0,0,0,0,0,0,97.58
3,4,10,0,0,0,18,18,30,17,17,0,0,0,0,0,0,0,95.46
4,5,10,0,0,0,18,18,18,28,18,0,0,0,0,0,0,0,96.53

In [47]:
all_data_df.T.to_excel("Lvls_1000_cleaned_df_v3_no.xlsx")